<div class="login">
    <h1 class="haha">LOG IN</h1>
    <p>Need to createe an account? <a href="/register" class="register-link">Sign Up</a>!</p>
    <form action="/login" method="POST" class="form">
        <input name="username" type="text" class="input" placeholder="Username">
        <input name="password" type="password" class="input" placeholder="Password">
        <input type="submit" value="LOG IN" class="button" />
    </form>
</div>
<%= errorMessage %>